*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #FAFAFA;
	font-family: Verdana;
}
a{
	text-decoration: none;
}
.minihr{
	border-top: 1px solid;
	display: block;
	max-width: 40px;
	margin: 0 auto 30px;
}
.spacex{
	background-color: #ccc;
	height: 128px;	
	clear: both;
	border-radius: 5px;
}
.spacey{
	background-color: #ccc;
	clear: both;
	min-height: 380px;
	border-radius: 5px;
}
/*########### TOPO ########### */
.topo{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: auto;
	background-color: #eff0f2;
	padding-bottom: 20px;
}

.topo a{
	text-decoration: none;
	color: #4160a3;/* 0080FF;	*/
	/*color: #0e83d1;*/
	transition: color 2s ease-out;
	 	-webkit-transition: color 2s ease-out;
  		-moz-transition: color 2s ease-out;
  		-o-transition: color 2s ease-out;
}
.topo a:hover{
	color: #aaaaaa;
	
}
.topoint{
	width: 100%;
	max-width: 1024px;
	margin: auto;
	clear: both;
}

.topoleft{
	float: left;
	width: 50%;
	height: 150px;
	line-height: 150px;
}
.toporight{
	float: right;
	width: 50%;
	height: 150px;
	text-align: right;
	font-size: 12px;
	border: 0px solid #f00;
}
.conteudo{
	margin-top: 11%;
	font-size: 14px;
}
/*########### FIM TOPO ########### */

/*########### MENU ########### */
.menu{
	width: 100%;
	height: 60px;
	background-color: #303030;
	font-size: 12px;
}
.menu:nth-child(3){
	background-color: #545454;
}
.menuint{
	width: 100%;
	height: 60px;
	max-width: 1024px;
	margin: auto;
}
.menuint ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menuint li{
	float: left;
	line-height: 60px;
	margin-right: 20px;
}
.menuint ul li:hover{
	color: #bbb;
}
ul li>:first-child {
	padding: 5px 20px 0px 20px;
	text-align: center;
}
.menuint a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.menuint img{
	margin-top: 10px;
}
.menuright{
	float: right;
	line-height: 60px;
}
.menuright input{
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 26px;
	padding: 2px;	
	font-size: 12pt;
}
.menuright input[type=submit]{
	height: 32px;
	font-weight: bold;
	margin-left: 5px;
	padding: 5px;
	color: #ccc;
	background-color: #7f7f7f;
	border: 0px;
}
.menuright input[type=submit]:hover{
	color: #fff;	
}
/*########### FIM MENU ########### */

/*########### CONTAINER ########### */
.container{
	width: 100%;
	max-width: 1024px;
	margin: auto;
	margin-top: 10px;
	/*border-top: 1px solid #e6e6e6;*/
	padding-top: 30px;
	color: #3D3D3D;
}
.container a{
	color: #4160a3;
}
.container a:hover{
	color: #364f87;
}
/*########### FIM CONTAINER ########### */

/*########### LEFTSIDE ########### */
.leftside{
	border: 1px solid #e6e6e6;
	height: auto;
	border-radius: 5px;
	padding: 10px;
	text-align: justify;
	margin-bottom: 20px;
	clear: both;
}

/*########### FIM LEFTSIDE ########### */

/*########### RIGHTSIDE ########### */
.rightside{
	border: 1px solid #e6e6e6;
	min-height: 380px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}
.rightside p{
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 12px;
	text-align: justify;
}
.rightside h4{
	margin-top: 5px;
	text-align: center;
	margin-bottom: 10px;
	padding-bottom: 10px;
} 
.rightside a{
	color: #ccc;
	text-transform: uppercase;
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 10px;
}
.rightside a:hover{
	color: #fff;
	background-color: #303030;
	/*padding-bottom: 10px;*/
}
.imgautor{
	text-align: center;
	margin-bottom: 20px;
}
.imgautor img{
	width: 150px;
}

/*########### FIM RIGHTSIDE ########### */

/*########### LEFT|RIGHT ########### */
/*########### LEFT|RIGHT ########### */
.left{
	width: 69%;
	float: left;
}
.right{
	width: 29%;
	float: right;
}
/*########### FIM LEFT|RIGHT ########### */
/*########### FIM LEFT|RIGHT ########### */


/*########### POSTTITLE ########### */
.posttitle{
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 10px;
}
/*########### FIM POSTTITLE ########### */


.postimg{
	margin-bottom: 10px;
	text-align: center;
}
.postimg img{
	max-width: 100%;
	max-height: 380px;
	border-radius: 5px;
}
.postconteudo{
	font-size: 12px;
}
.postbotoes{
	display: inline-block;
}
.postbotoes ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.postbotoes li{
	float: right;
	line-height: 60px;
	margin: 2px;
	font-size: 12px;
}

.rodape{
	clear: both;
	min-height: 250px;
	background-image: linear-gradient(#fff, #ccc);
	font-size: 14px;
}
.rodape ul{
	list-style: none;
}
.rodape ul li{
	display: inline-block;
	line-height: 60px;
	margin: 10px;
}
.rodape a{
	color: #4160a3;
}
.rodape a:hover{
	color: #364f87;
}
.rodapeint{
	padding-top: 5%;
	height: 150px;
	max-width: 1024px;
	margin: auto;
	text-align: center;
}
footer{	
	margin-top: 20px;
	margin: auto;
	max-width: 1024px;
	padding-bottom: 20px;
	text-align: center;
}